<h1 style="text-align: center;">Formulario Empresas</h1>

<form action="" style="margin: 0 auto; width: 500px; padding: 1em; border: 1px solid #CCC; border-radius: 1em;">
    <div>
        <label for="tipodocumento_empleador">Tipo de Documento:</label>
        <select id="tipodocumento_empleador" name="tipodocumento_empleador" class="default">
            <option value="">Seleccionar</option>
            <option value="cedula">Cedula</option>
            <option value="ti">Tarjeta de Identidad</option>
            <option value="pasaporte">Pasaporte</option>
            <option value="otros">Otros</option>
        </select>
    </div>
    <div>
        <label for="numero_documento">Numero Documento:</label>
        <input type="text" id="numero_documento" name="numero_documento" class="default">
    </div>
    <div>
        <label for="nombre_empresa">Nombre de la empresa:</label>
        <input type="text" id="nombre_empresa" name="nombre_empresa" class="default">
    </div>
    <div>
        <label for="digito_verificacion">Digito de Verificacion</label>
        <input type="text" id="digito_verificacion" name="digito_verificacion" class="default">
    </div>
    <div>
        <label for="dep_empleador">Departamento:</label>
        <select id="dep_empleador" name="dep_empleador" class="default">
            <option value="">Seleccionar</option>
            <option value="antioquia">Antioquia</option>
            <option value="cundinamarca">Cundinamarca</option>
            <option value="caldas">Caldas</option>
        </select>
    </div>
    <div>
        <label for="mun_empleador">Municipio:</label>
        <select id="mun_empleador" name="mun_empleador" class="default">
            <option value="">Seleccionar</option>
            <option value="medellin">Medellín</option>
            <option value="bogota">Bogotá</option>
            <option value="manizales">Manizales</option>
        </select>
    </div>

    <div>
        <label for="tipoEmpresa">Tipo de Empresa:</label>
        <select id="tipoEmpresa" name="tipoEmpresa" class="default">
            <option value="">Seleccione</option>
            <option value="arl">Arl</option>
            <option value="caja">Caja</option>
            <option value="pension">Pension</option>
            <option value="eps">Eps</option>
            <option value="cesantias">Cesantias</option>
        </select>
    </div>

    <div>
        <label for="dir">Dirección Principal</label>
        <input type="text" id="dirprincipal" name="dirprincipal" class="default" />
    </div>
    <div>
        <label for="contactoname">Nombre de Contacto</label>
        <input type="text" id="contactoname" name="contactoname" class="default" />
    </div>

    <div>
        <label for="telefono">Telefono:</label>
        <input type="tel" id="telefono" name="telefono" class="default">
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="default">
    </div>
    <div>
        <button type="submit">Enviar</button>
        <button type="reset">Limpiar</button>
    </div>
</form>